VITE_SUPABASE_URL=https://nyhjcchnebbdaacvkyyv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55aGpjY2huZWJiZGFhY3ZreXl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxMzUwMDIsImV4cCI6MjA5MDcxMTAwMn0.AptCFoHCgrcwZTgI4ULLaSCi2Z8DekbRDuJltaM4neE
VITE_GEMINI_API_KEY=
